html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Chivo', sans-serif;
    background-image: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)),  url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* pod logo */
img {
    margin: auto;
    display: flex;
    padding-top: 3em;
}

/* request access button */
button {
    margin: auto;
}

/* 'publish your podcasts everywhere' */
h3 {
    text-align: center;
    color: #54E6AF;
    text-transform: uppercase;
}