html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Chivo', sans-serif;
    background-image: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)),  url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    display: flex;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
}

/* pod logo */
#logo {
    width: 134px;
    height: 56px;
    padding: 3em 0 2.5em 0;
    margin: 0 auto 0 auto;
}

h3, h2 {
    text-transform: uppercase;
    font-size: 27px;
    line-height: 38px;
    font-weight: 300;
    margin: 0;
}

/* 'publish your podcasts' */
h3 {
    color: #54E6AF;
}

/* 'everywhere' */
h2 {
    color: #FFFFFF;
    padding-bottom: 1em;
}

/* 'upload your audio to Pod...'*/
p {
    margin: auto;
    display: flex;
    color: #C2CBE5;
    line-height: 25px;
    font-size: 15px;
    font-weight: 300;
    width: 87%;
    padding-bottom: 7em;
}

input, button {
    font-family: Chivo;
    border-radius: 30px;
    height: 46px;
    width: 327px;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin: auto auto 1em auto;
    display: block;
    padding: 0;
    border: none;
}

/* email address text input */
input {
    color: #FFFFFF;
    background-color: #2C344B;
    text-align: center;
}
input:active {
    color: #FFFFFF;
}

/* 'Email address' text */
::placeholder {
    text-align: left;
    padding-left: 2em;
    padding-top: .75em;
    font-weight: bold;
    font-size: 16px;
}

/* 'request access' button */
button {
    color: #121725;
    background-color:#54E6AF;
    text-align: center;
}
button:hover {
    background-color: #B3FFE2;
}

#dots {
    display: none;
}

#apps {
    display: none;
}

/* tablet view */
@media only screen and (min-width: 450px)
and (max-width: 768px){
    body {
     background-color: #121725;
     background-size: 491px 767px;
     background-image:  url(./assets/tablet/image-host.jpg);
     background-position: right top;
    }
    h2, h3, p, input {
        text-align: left;
    }
    h2 {
        font-size: 48px;
        padding-bottom: .5em;
        line-height: 56px;
    }
    h3 {
        padding-top: 1.9em;
        font-size: 48px;
        line-height: 56px;
    }
    p {
        padding: 0 0 1em 0;
        margin: 0;
        width: 58%;
        line-height: 28px;
        color: #C2CBE5;
    }
    #logo {
        margin: 0;
        height: 56px;
        width: 135px;
        padding: 2.3em 0 0 1.5em;
    }
    #text {
        background-color: #121725;
        width: 83%;
        margin-top: 9em;
        margin-left: 2em;
    }
    input {
        display: block;
        margin: 1em 0 0 0;
    }
    #couple {
        display: flex;
        margin-bottom: 1em;
    }
    button {
        display: inline-block;
        width: 162px;
        margin: 1em 0 0 -8em;
        height: 45px;
    }
    #apps {
        display: flex;
        margin: 3em 0 4em 0;
    } 
    .applogo {
        padding: 0 1em 0 0;
        opacity: .6;
        height: 100%;
    }
    #dots {
        display: block;
        width: 232px;
        height: 104px;
        margin-top: 5.9em;
        margin-left: 1.5em;
    }
}


/* desktop view */
@media only screen and (min-width: 769px){
    body {
        background-color: #121725;
        background-size: 50%;
        background-image:  url(./assets/desktop/image-host.jpg);
        background-position: 100% 40%;
    }
    h2, h3 {
           font-size: 52px;
           line-height: 62px;
           text-align: left;
    }
    h2, h3, p, input {
        text-align: left;
    }
    h2 {
        padding: 0 0 .5em 0;
    }
    h3 {
        margin: 1.75em 0 0 0;
    }
    p {
        width: 50%;
        padding: 0 0 2em 0;
        margin: 0;
    }
    #logo {
        margin: 0 0 0 2em;
        padding: 3em 0 0 1.5em;
        z-index: 4;
    }
    #text {
        display: flex;
        flex-direction: column;
        background-color: #121725;
        margin: 5em 0 0 14em;
        padding: 0;
        width: 52%;
    }
    #couple {
        display: flex;
        margin: 0 0 1em 0;
        padding: 0;
    }
    input {
        display: block;
        margin: 0 0 0 0;
    }
    button {
        display: inline-block;
        margin: 0 0 0 -8em;
        width: 150px;
        height: 45px;
    }
    #apps {
        display: flex;
        margin: 0;
        opacity: .6;
    }
    .applogo {
        margin-top: 1em;
        padding: 0 1em 0 0;
        height: 45%;
    }
    #dots {
        display: flex;
        margin: -7.5em 0 auto auto;
        width: 13%;
    }
}
